sheme.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Message" type="MessageType"/>
    <xs:complexType name="OrganizationType">
        <xs:sequence>
            <xs:element type="xs:long" name="INN"/>
            <xs:element type="xs:int" name="KPP"/>
            <xs:element type="xs:string" name="Name"/>
            <xs:element type="xs:string" name="GOZUID"/>
            <xs:element type="xs:byte" name="ContractDate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractSpendingType">
        <xs:sequence>
            <xs:element type="xs:string" name="Salary"/>
            <xs:element type="xs:string" name="Taxes"/>
            <xs:element type="xs:string" name="Rates"/>
            <xs:element type="xs:string" name="Other"/>
            <xs:element type="xs:string" name="Reserve"/>
            <xs:element type="xs:string" name="Income"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractorsType">
        <xs:sequence>
            <xs:element type="xs:string" name="Total"/>
            <xs:element type="xs:string" name="Name"/>
            <xs:element type="xs:string" name="INN"/>
            <xs:element type="xs:string" name="ContractNumber"/>
            <xs:element type="xs:string" name="ContractDate"/>
            <xs:element type="xs:string" name="AccountNumber"/>
            <xs:element type="xs:string" name="Cost"/>
            <xs:element type="xs:string" name="PaymentPlanned"/>
            <xs:element type="xs:string" name="PaymentCurrent"/>
            <xs:element type="xs:string" name="FinishDate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PlannedPayType">
        <xs:sequence>
            <xs:element type="xs:string" name="Total"/>
            <xs:element type="xs:string" name="PaymentPlanned"/>
            <xs:element type="xs:string" name="PaymentCurrent"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractFinanceType">
        <xs:sequence>
            <xs:element type="xs:string" name="TotalRequirement"/>
            <xs:element type="xs:string" name="CashBalance"/>
            <xs:element type="xs:string" name="PlannedIncome"/>
            <xs:element type="xs:string" name="DepositeIncome"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FormsType">
        <xs:sequence>
            <xs:element type="xs:string" name="ReportDate"/>
            <xs:element type="xs:short" name="Year" minOccurs="0"/>
            <xs:element type="xs:byte" name="Quaterter" minOccurs="0"/>
            <xs:element type="ContractSpendingType" name="ContractSpending" minOccurs="0"/>
            <xs:element type="ContractorsType" name="Contractors" minOccurs="0"/>
            <xs:element type="PlannedPayType" name="PlannedPay" minOccurs="0"/>
            <xs:element type="ContractFinanceType" name="ContractFinance" minOccurs="0"/>
            <xs:element type="PartsType" name="Parts" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PartsType">
        <xs:sequence>
            <xs:element type="xs:short" name="Year">
                <xs:annotation>
                    <xs:documentation>tablica9</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:byte" name="Quaterter"/>
            <xs:element type="xs:int" name="Requirement"/>
            <xs:element type="xs:byte" name="Deyiation"/>
            <xs:element type="xs:byte" name="Reasons"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageType">
        <xs:sequence>
            <xs:element type="xs:string" name="CreateDate"/>
            <xs:element type="xs:string" name="UID"/>
            <xs:element type="xs:byte" name="PreviousUID"/>
            <xs:element type="OrganizationType" name="Organization"/>
            <xs:element type="FormsType" name="Forms" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>